
#time interval between regular signal and unexpected silence in frames
#SIGNAL_DROPPING_DURATION=10

#maximum signal value that still counts as silence
#SILENCE_TRESHOLD=10

#minimum silence time that counts as unexpected signal drop
#SLICE_DURATION=10

#minimum signal value when signal drop becomes relevant
#MIN_SIGNAL_ALLOWING_DROPDOWN=100
